@import '../../../styles/_vars';

.input {
	outline: none;
	border: none;
	background: none;

	color: $primary;
	font-size: 18px;

	padding: 10px 0 10px 16px;

	border-radius: 12px;

	transition: .2s box-shadow;

	&::placeholder {
		color: $secondary;
	}
}